@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --main-color-background: 249, 250, 251;
        --main-color: 170, 187, 203 ;
        --section-color: 255, 255, 255;
        --color-text-1: 35, 31, 30;
        --color-text-2: 123, 121, 120;
        --color-text-hover: 96, 165, 250;
        --color-border: 242, 242, 242;
        
    }
}

:root{
    --main-color-background-css: rgb(249, 250, 251);
    --main-color-css: rgb(170, 187, 203) ;
    --section-color-css: rgb(255, 255, 255);
    --color-text-1-css: rgb(35, 31, 30);
    --color-text-2-css: rgb(123, 121, 120);
    --color-text-hover-css: rgb(96, 165, 250);
    --color-border-css: rgb(242, 242, 242);
}

body.dark {
    --main-color-background: 34, 34, 34;
    --main-color: 29, 39, 49 ;
    --section-color: 26, 26, 26;
    --color-text-1: 255, 255, 255;
    --color-text-2: 121, 128, 138;
    --color-border: 24, 24, 24;

    --main-color-background-css: rgb(34, 34, 34);
    --main-color-css: rgb(29, 39, 49) ;
    --section-color-css: rgb(26, 26, 26);
    --color-text-1-css: rgb(255, 255, 255);
    --color-text-2-css: rgb(121, 128, 138);
    --color-border-css: rgb(24, 24, 24);

    background-color: var(--section-color-css);
    color: var(--color-text-1-css);
}

body{
    overflow-x: hidden;
}